<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ezscreener">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EzScreener">
        <activity
            android:name=".create_search"
            android:exported="false"
            android:label="@string/title_activity_create_search"
            android:theme="@style/Theme.EzScreener.NoActionBar" />
        <activity
            android:name=".past_searches"
            android:exported="false"
            android:label="@string/title_activity_past_searches"
            android:theme="@style/Theme.EzScreener.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.EzScreener.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>